/* Fonts Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap"); /* font-family: "DM Serif Display", serif; */

:root {
  --primaty-color: #003650;
  --primaty-color-light: #127bbc;
  --primaty-color-light-two: #19A5E5;
  --primaty-color-light-three: #04ADBF;
  --btn:#A0CE0D;
  --btn-two:#025959;
  --test-1:#A0A603;
  --text-dark: #0f172a;
  --text-light: #6b7280;
  --extra-light: #d9e9f3;
  --white: #fff;
  --max-width: 1200px;
  --header-font: "DM Serif Display", serif;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*  */
.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section-subheader {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--header-font);
  letter-spacing: 3;
  color: var(--primaty-color-light);
}

.section-header {
  min-width: 450px;
  margin-inline: auto;
  font-style: 2.5rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 3rem;
}

.section-description {
  min-width: 450px;
  margin-block: 1rem;
  margin-inline: auto;
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--white);
  white-space: nowrap;
  background-color: var(--primaty-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primaty-color-light);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/*  */

.header {
   background-image: url("../assets/header.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

nav {
   position: fixed;
   isolation: isolate;
   width: 100%;
   z-index: 9;
}

.logo {
   /* background-color: tomato; */
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .5rem;
}

.nav-header {
   padding: 1rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--primaty-color);
}

.logo a {
   font-size: 1.5rem;
   font-weight: 500;
   color: var(--white);
}

.logo-icon {
   color: var(--white);
   font-size: 1.5rem;
}

.nav-menu-btn {
   font-size: 1.5rem;
   color: var(--white);
   cursor: pointer;
}

.nav-links {
   position: absolute;
   top: 67px;
   left: 0;
   width: 100%;
   padding: 2rem;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 2rem;
   /* background-color: tomato; */
   background-color: var(--extra-light);
   transition: .5s;
   z-index: -1;
   transform: translateY(-100%);
}

.nav-links.open {
   transform: translateY(0);
}

.link a {
   color: var(--primaty-color);
   transition: .3s;
}

.link a:hover {
   color: var(--primaty-color-light-three);
}

.nav-btn {
   display: none;
}

.sing-up-btn {
   background-color: #00468c;
   padding: .5rem 2.5rem;
}

.sing-up-btn:hover {
   background-color: var(--btn-two);
   padding: .5rem 2.5rem;
   transition: .5s;
   color: #FFF;
}

.sing-up-btn a {
   color: #FFF;
}

.sing-up-btn a:hover {
   color: #FFF;
}
